processor:
    processor_id: 0
    iopins:
        - addr: 70 # 17
          channel: sensor
          config: 0
        - addr: 74 # 18
          channel: led0
          config: 1
        - addr: 78 # 19
          channel: led1
          config: 1
        - addr: 82 # 20
          channel: led2
          config: 1
        - addr: 86 # 21
          channel: led3
          config: 1
        - addr: 90 # 22
          channel: led4
          config: 1
        - addr: 94 # 23
          channel: led5
          config: 1
        - addr: 98 # 24
          channel: led6
          config: 1
        - addr: 102 # 25
          channel: led7
          config: 1
